<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Весы Xiaomi Mi&nbsp;Smart Scale</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div class="container">
        <header>
            <a href="../index.html" class="logo"><img src="../images/healthgadgets_logo.png" alt="healthgadgets.ru"></a>
            <nav>
                <ul class="menu">
                    <li><a href="../index.html">Главная</a></li>
                    <li><a href="../catalog.html">Каталог</a></li>
                    <li><a href="../contacts.html">Контакты</a></li>
                </ul>
            </nav>
        </header>
        <div class="product">
            <h1>Весы Xiaomi Mi&nbsp;Smart Scale</h1>
            <article>
                <h3>Описание товара</h3>

                <div class="short_description">
                    <div class="short_description block">
                        <a class="product_image" href="../images/xiaomi_smart_scale.jpg" target="_blank"><img src="../images/xiaomi_smart_scale.jpg" alt="Весы Xiaomi Mi Smart Scale"></a>
                        <p>Умные электронные весы с синхронизацией по Bluetooth с допустимой нагрузкой до 150 кг Привлекательный дизайн со стеклянной платформой и подсветкой символов дисплея. Автовключение при взвешивании. Результат взвешивания мгновенно появляется в личном кабинете в приложении Mi Fit для Android и iOS.</p>
                        <p>Весы Xiaomi Mi&nbsp;Smart Scale могут использоваться как самостоятельное, автономное устройство. Но&nbsp;фирменное приложение Mi&nbsp;Fit существенно расширяет возможности весов Сяоми Ми&nbsp;Смарт Скейл. Цена программного софта включена в&nbsp;общую стоимость гаджета. Входящая в&nbsp;комплект поставки Xiaomi Mi&nbsp;Smart Scale инструкция содержит серию пошаговых иллюстраций. Справка в&nbsp;самом приложении состоит из&nbsp;понятных анимированных подсказок. </p>
                    </div>

                    <button class="buy_button" type="button">Купить</button>
                </div>
            </article>


            <h3>Характеристики товара</h3>
            <div class="charact">
                <ul>
                    <li>Тип: электронные весы</li>
                    <li>Диагностика: да</li>
                    <li>Материал платформы: стекло</li>
                    <li>Выносной блок управления: нет</li>
                    <li>Элементы питания: AAx4 1.5&nbsp;В</li>
                    <li>Размеры (ШхВхД): 30&times;2.82&times;30&nbsp;см</li>
                    <li>Материал платформы: стекло</li>
                    <li>Вес: 1.9&nbsp;кг</li>
                    <li>Цвет: белый</li>
                    <li>Максимальная нагрузка: 150&nbsp;кг</li>
                    <li>Точность измерения: 0.05&nbsp;кг</li>
                    <li>Единицы измерения: кг, фунт, цзинь</li>
                    <li>Дополнительные измерения: расчет индекса массы тела (BMI)</li>
                    <li>Автоматическое включение: есть</li>
                    <li>Автоматическое выключение: есть</li>
                    <li>Синхронизация по&nbsp;Bluetooth: есть</li>
                    <li>Светящиеся символы дисплея: есть</li>
                    <li>Дополнительная информация: Официальное приложение&nbsp;&mdash; Mi&nbsp;Fit; поддержка Android и&nbsp;iOS</li>
                </ul>

            </div>

            <h3>Технические характеристики</h3>
            <table>
                <caption>Технические характеристики весов</caption>
                <tr>
                    <td>Функции</td>
                    <td>измерение массы тела, расчет индекса массы тела (BMI)</td>
                </tr>
                <tr>
                    <td>Максимальная нагрузка</td>
                    <td>150&nbsp;кг</td>
                </tr>
                <tr>
                    <td>Индикация</td>
                    <td>монохромный дисплей</td>
                </tr>
                <tr>
                    <td>Элементы питания</td>
                    <td>AAx4 1.5&nbsp;В</td>
                </tr>
                <tr>
                    <td>Размеры</td>
                    <td>30&times;2.82&times;30&nbsp;см</td>
                </tr>
                <tr>
                    <td>Вес</td>
                    <td>1.9&nbsp;кг</td>
                </tr>
            </table>

            <article>
                <h3>Подробное описание товара</h3>
                <div class="long_description">
                    <h4>Ключевые особенности Xiaomi Mi&nbsp;Smart Scale</h4>
                    <ul>
                        <li>Высокая точность измерений&nbsp;&mdash; до&nbsp;100&nbsp;грамм, весы оснащенные высокоточным датчиком давления, для определения точного веса.</li>
                        <li>Синхронизация с&nbsp;телефоном&nbsp;&mdash; контролируйте с&nbsp;помощью с&nbsp;телефона свое здоровье и&nbsp;здоровье семьи. </li>
                        <li>Вес отображается с&nbsp;помощью светодиодов, что позволяет видеть информацию даже в&nbsp;темноте. Единицы измерения&nbsp;&mdash; кг, фунты.</li>
                        <li>Возможность подключения к&nbsp;приложению Xiaomi Home и&nbsp;синхронизации данных с&nbsp;браслетом Mi&nbsp;Band, что позволяет пользователю лучше следить за&nbsp;своим физическим состоянием и&nbsp;получать советы для поддержания формы.</li>
                        <li>Каждое взвешивание сохраняется в&nbsp;памяти весов, с&nbsp;возможностью последующей синхронизации со&nbsp;смартфоном всей истории последних взвешиваний, возможно сохранить до&nbsp;800&nbsp;показателей.</li>
                        <li>На&nbsp;основе данных о&nbsp;массе тела человека, Mi&nbsp;Smart Scale могут автоматически определить каждого члена семьи. Поддерживаются несколько профилей.</li>
                        <li>Максимальный вес для взвешивания&nbsp;&mdash; 150кг.</li>
                        <li>Работают весы с&nbsp;устройствами на&nbsp;Android&nbsp;4.4 и&nbsp;выше, а&nbsp;так&nbsp;же с&nbsp;iPhone 4s/5/5c/5s/6/6 plus на&nbsp;IOS 7&nbsp;и&nbsp;выше. Подключаются с&nbsp;помощью Bluetooth&nbsp;4.0</li>
                        <li>Возможность синхронизации с&nbsp;Apple Health (синхронизируемые данные: шаги, сон, калории, вес).</li>
                    </ul>

                    <h4>Умные весы Сяоми Ми&nbsp;Смарт Скейл&nbsp;&mdash; обзор внешнего вида</h4>
                    <p>Весы Xiaomi Smart Scales работают от&nbsp;четырех стандартных пальчиковых батареек типа АА. Цена Xiaomi Mi&nbsp;Smart Scale включает один комплект щелочных не&nbsp;перезаряжаемых батареек. Компания Healthgadgets предлагает купить умные весы Сяоми Ми&nbsp;Смарт Скейл и&nbsp;взять под контроль собственный вес.</p>

                    <p>Весы поставляются в&nbsp;квадратной картонной коробке, на&nbsp;лицевой стороне которой нанесен фирменный логотип &laquo;MI&raquo;. Внутри коробки платформа для взвешивания белоснежного цвета. В&nbsp;ее&nbsp;центре все тот&nbsp;же фирменный знак MI. Основной материал платформы&nbsp;&mdash; высокопрочный полимер ABS. Силовые элементы конструкции изготовлены из&nbsp;высокопрочной стали. Поверхность&nbsp;&mdash; закаленное, ударопрочное стекло. Углы платформы сильно скруглены.</p>

                    <p>На&nbsp;лицевой поверхности никаких видимых дисплеев. Данные взвешиваний выводятся в&nbsp;верхней части платформы с&nbsp;помощью ярко-подсвеченных, крупных цифр. Дисплей с&nbsp;информацией видим только тогда, когда весы активны. Xiaomi Mi&nbsp;Smart Scale активируются автоматически, в&nbsp;течение 2&nbsp;секунд после того, как пользователь становится на&nbsp;платформу. Так&nbsp;же автоматически весы переходят в&nbsp;режим энергосберегающего сна, после того, как давление на&nbsp;платформу исчезнет. Благодаря подсветке, пользоваться весами можно в&nbsp;любое время суток, в&nbsp;том числе в&nbsp;темноте. На&nbsp;оборотной стороне платформе лючок для пальчиковых батареек и&nbsp;четыре круглые, подвижные, резиновые ножки.</p>

                    <p>После установки батареек, пользователю необходимо выбрать единицу измерения (фунты, килограммы или цзинь) с&nbsp;помощью специального ползунка, расположенного под крышкой батарейного отсека Xiaomi Mi&nbsp;Smart Scale. Купить запасные батарейки в&nbsp;случае необходимости пользователь может отдельно. </p>

                    <h4>Приложение для работы с&nbsp;умными весами Xiaomi Mi&nbsp;Smart Scale</h4>

                    <p>Весы Xiaomi Mi&nbsp;Smart Scale могут использоваться как самостоятельное, автономное устройство. Но&nbsp;фирменное приложение Mi&nbsp;Fit существенно расширяет возможности весов Сяоми Ми&nbsp;Смарт Скейл. Цена программного софта включена в&nbsp;общую стоимость гаджета. Входящая в&nbsp;комплект поставки Xiaomi Mi&nbsp;Smart Scale инструкция содержит серию пошаговых иллюстраций. Справка в&nbsp;самом приложении состоит из&nbsp;понятных анимированных подсказок. </p>

                    <p>Перед первой синхронизацией, пользователю нужно запустить приложение Mi&nbsp;Fit на&nbsp;своем мобильном устройстве и&nbsp;активировать Bluetooth. Программа самостоятельно обнаружит весы. Цена Xiaomi Mi&nbsp;Smart Scale включает регулярные автоматические обновления прошивки. </p>

                    <p>Весы Сяоми Ми&nbsp;Скейл сопрягаются с&nbsp;мобильными устройствами по&nbsp;беспроводному протоколу Bluetooth. Умные весы совместимы с&nbsp;гаджетами на&nbsp;базе Android версии 4.4 и&nbsp;выше, iOS версии 7.0 и&nbsp;выше. Обмен данными происходит автоматически, как только сопрягаемые устройства оказываются в&nbsp;переделах видимости.</p>

                    <p>Пользователь умных весов в&nbsp;персональном аккаунте может вести подробный дневник взвешиваний. Статистика визуализируется в&nbsp;виде графиков. Алгоритмы приложения рассчитывают индивидуальный индекс массы тела. Производители обещают пользователям точность взвешивания с&nbsp;минимальным значение шкалы 100&nbsp;грамм.</p>

                    <p>Устройство рассчитано на&nbsp;распознавание нескольких пользователей. На&nbsp;главном экране приложения расположены круглые кнопки-идентификаторы каждого из&nbsp;членов семьи. В&nbsp;настройках программы можно ввести имя каждого пользователя и&nbsp;выбрать иконку-аватарку из&nbsp;коллекции картинок или фотографий из&nbsp;своей галереи. Xiaomi Mi&nbsp;Smart Scale автоматически идентифицируют каждого пользователя и&nbsp;отправляют данные взвешиваний в&nbsp;облачное хранилище. В&nbsp;случае если члены семьи имеют схожий вес, гаджет отправит запрос с&nbsp;уточнением, кто именно из&nbsp;пользователей взвешивался.</p>

                    <p>Внутренняя память умных весов хранит данные до&nbsp;800&nbsp;взвешиваний. Инструкция Xiaomi Сяоми Ми&nbsp;Смарт Скейл содержит рекомендации по&nbsp;планированию тренировок и&nbsp;питания на&nbsp;основе рассчитанного индекса массы тела. Политика компании&nbsp;&mdash; высокий функционал и&nbsp;низкая цена. Xiaomi Mi&nbsp;Smart Scale позволяют организовать режим активных нагрузок, задать спортивную цель, установить цель веса. Health Gadgets предлагает ознакомиться с&nbsp;подробностями использования гаджета, отзывами покупателей, заказать Сяоми Ми&nbsp;Смарт Скейл, купить умные весы и&nbsp;получить полный комплект гарантий и&nbsp;технического сопровождения.</p>

                </div>
            </article>


            <footer>
                <p class="footertext">&copy;&nbsp;Все права защищены</p>
            </footer>
        </div>
    </div>

</body>

</html>
