<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Фитнес-браслет Xiaomi Mi&nbsp;Band 2</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div class="container">
        <header>
            <a href="../index.html" class="logo"><img src="../images/healthgadgets_logo.png" alt="healthgadgets.ru"></a>
            <nav>
                <ul class="menu">
                    <li><a href="../index.html">Главная</a></li>
                    <li><a href="../catalog.html">Каталог</a></li>
                    <li><a href="../contacts.html">Контакты</a></li>
                </ul>
            </nav>
        </header>

        <div class="product">
            <h1>Фитнес-браслет Xiaomi Mi&nbsp;Band 2</h1>
            <article>
                <h3>Описание товара</h3>

                <div class="short_description">
                    <a class="product_image" href="../images/xiaomi_mi_band_2.jpg" target="_blank"><img src="../images/xiaomi_mi_band_2.jpg" alt="Фитнес-браслет Xiaomi Mi Band 2" ></a>
                    <p>Фитнес-браслет Xiaomi Mi&nbsp;Band 2&nbsp;подойдет как для спортсменов, так и&nbsp;для обычных пользователей. Дизайн прост, корпус и&nbsp;ремешок выполнены в&nbsp;черном цвете. Браслет имеет прекрасные характеристики и&nbsp;по&nbsp;многим параметрам не&nbsp;уступает другим моделям. В&nbsp;Xiaomi Mi&nbsp;Band 2&nbsp;совмещается электронное и&nbsp;механическое управление. Если сравнивать с&nbsp;предыдущими версиями браслетов, то&nbsp;в&nbsp;этой модели появился дисплей. Он&nbsp;изготовлен по&nbsp;технологии OLED, монохромного типа и&nbsp;имеет диагональ 0.4&nbsp;дюйма. Энергопотребление у&nbsp;дисплея минимальное, удается добиться времени автономной работы до&nbsp;480&nbsp;часов.</p>
                    <p>Экран позволяет просматривать основную информацию, перелистывая данные при помощи центральной кнопки. Теперь вам не&nbsp;нужно будет пользоваться смартфоном для этой цели и&nbsp;открывать специальное приложение. Браслет сообщит время, уведомит о&nbsp;звонках и&nbsp;сообщениях. Можно просмотреть пульс и&nbsp;количество шагов, которые были сделаны за&nbsp;день.</p>
                    <p>При помощи браслета вы&nbsp;сможете узнать о&nbsp;новых уведомлениях, получить информацию о&nbsp;своей активности в&nbsp;течение дня. Особенно полезной данная модель окажется для спортсменов. В&nbsp;программе для смартфона можно просмотреть больше собранной информации.</p>

                    <button class="buy_button" type="button">Купить</button>
                </div>
            </article>



            <div class="charact">
                <h3>Характеристики товара</h3>
                <ul>
                    <li>Материалы капсулы: поликарбонат, пластик.</li>
                    <li>Материалы браслета: термопластичный силиконовый вулканизат.</li>
                    <li>Класс защиты корпуса: IP67.</li>
                    <li>Функции: измерение ЧСС, шагомер, подсчёт дистанции и&nbsp;потраченных калорий, мониторинг сна, умный будильник, уведомления о&nbsp;звонках.</li>
                    <li>Датчики: трёхосевой акселерометр, оптический пульсометр.</li>
                    <li>Индикация: монохромный OLED-дисплей с&nbsp;диагональю 0,42&nbsp;дюйма, вибромотор.</li>
                    <li>Аккумулятор: встроенный литий-полимерный ёмкостью 70&nbsp;мА&middot;ч.</li>
                    <li>Автономная работа: до&nbsp;20&nbsp;дней.</li>
                    <li>Беспроводная связь: Bluetooth&nbsp;4.0&nbsp;LE.</li>
                    <li>Рабочая температура: от &mdash;20 до&nbsp;+70&nbsp;&deg;C.</li>
                    <li>Размеры: 40,3 &times; 15,7 &times; 10,5&nbsp;мм.</li>
                    <li>Вес: 7&nbsp;г.</li>
                    <li>Совместимость: iOS 7&nbsp;/ Android&nbsp;4.3.</li>
                    <li>Комплектация: датчик, кабель для зарядки, ремешок, руководство пользователя</li>
                </ul>
            </div>
            <h3>Технические характеристики</h3>
            <table>
                <caption>Технические характеристики браслета</caption>
                <tr>
                    <td>Функции</td>
                    <td>измерение ЧСС, шагомер, подсчёт дистанции и&nbsp;потраченных калорий, мониторинг сна, умный будильник, уведомления о&nbsp;звонках.</td>
                </tr>
                <tr>
                    <td>Датчики</td>
                    <td>трёхосевой акселерометр, оптический пульсометр</td>
                </tr>
                <tr>
                    <td>Индикация</td>
                    <td>монохромный OLED-дисплей с&nbsp;диагональю 0,42&nbsp;дюйма, вибромотор</td>
                </tr>
                <tr>
                    <td>Аккумулятор</td>
                    <td>встроенный литий-полимерный ёмкостью 70&nbsp;мА&middot;ч</td>
                </tr>
                <tr>
                    <td>Размеры</td>
                    <td>40,3 &times; 15,7 &times; 10,5&nbsp;мм</td>
                </tr>
                <tr>
                    <td>Вес</td>
                    <td>7&nbsp;г</td>
                </tr>
            </table>



            <!--
        
        Общие параметры
Тип: фитнес-браслет
Цвет корпуса: черный
Цвет ремешка: черный
Назначение: для фитнеса, для бега, для велоспорта, для активного отдыха
Совместимость с устройствами
ОС Android 4.4 и выше, iOS 7.0 и выше
Совместимость с операционными системами
iOS, Android
Тип управления
механическое, электронное

Дисплей
Наличие дисплея: есть
Тип циферблата: OLED
Технология изготовления ЖК-экрана: OLED, LCD-монохромный
Сенсорный дисплей: есть
Диагональ: 0.4"

Корпус и ремешок
Материал корпуса
пластик
Водонепроницаемость
есть
Степень защиты
IP67
Материал ремешка
cиликон
Размер ремешка
регулируемый
Съемный ремешок
есть
Место крепления
на руку
Система
Датчики
акселерометр, сердечного ритма, шагомер
Связь и коммутация
Беспроводная связь
Bluetooth
Версия Bluetooth
4.2
Разъемы и интерфейсы
нет
Слот для сим карты
нет
Камера
Встроенная камера
нет
Функции
Измерения
контроль расхода калорий, пульсометр, датчик активности
Проигрывание аудио
нет
Проигрывание видео
нет
Спортивные функции
счетчик калорий, акселерометр
Другие функции
будильник, часы, дистанционного управления касанием, пульсометр, мониторинг активности, мониторинг фаз сна, уведомление о звонках и смс, измерение пройденных шагов и преодоленного расстояния, поиск браслета
Питание и зарядка
Тип питания
аккумулятор
Форм фактор элементов питания
Li-pol аккумулятор
Емкость аккумулятора
70 мАч
Продолжительность работы
до 480 часов
Способы зарядки
USB
Дополнительно
Комплектация
часы, документация, ремешок, USB-кабель
Габариты, вес
Ширина
15.7 мм
Длина
40.3 мм
Толщина
10.5 мм
Вес
7 г
-->
            <article>
                <h3>Подробное описание товара</h3>
                <div class='long_description'>
                    <p>Xiaomi Mi&nbsp;Band 2&nbsp;представляет собой матовый ремешок и&nbsp;съемный корпус. Дизайн очень простой и&nbsp;привлекательный. Силиконовый ремешок регулируется и&nbsp;является универсальным. Корпус изготовлен из&nbsp;пластика, оснащен экраном, который имеет одну сенсорную кнопку и&nbsp;с&nbsp;внутренней стороны установлен пульсометр. Крепление на&nbsp;запястье руки. Ширина ремешка 1,5&nbsp;см. толщина 3&nbsp;мм, толщина ремешка на&nbsp;месте корпуса 1&nbsp;см. Экран браслета по&nbsp;умолчанию выключен. Для того, чтобы посмотреть время необходимо сделать характерный жест и&nbsp;экран загорится.</p>
                    <p>Сборка фитнес-браслета проиллюстрирована в&nbsp;кратком руководстве. Корпус вставляется с&nbsp;внутренней стороны ремешка, затем надевается на&nbsp;руку. </p>
                    <p>Для начала использования фитнес-браслета необходимо установить приложение Mi&nbsp;Fit которое рекомендует производитель на&nbsp;Ваш смартфон. Затем запустите приложение Mi&nbsp;Fit. Ваш телефон должен обнаружить фитнес-браслет по&nbsp;регистрационному номеру. После этого устройство завибрирует и&nbsp;на&nbsp;его экране появится изображение трекера. Нажмите на&nbsp;кнопку браслета, чтобы завершить синхронизацию. В&nbsp;приложении необходимо зарегистрироваться через электронную почту или номер телефона.</p>

                </div>
            </article>

        </div>
        <footer>
            <p class="footertext">&copy;&nbsp;Все права защищены</p>
        </footer>

    </div>

</body>

</html>
