<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Каталог товаров</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <header>
            <a href="index.html" class="logo"><img src="images/healthgadgets_logo.png" alt="healthgadgets.ru"></a>
            <nav>
                <ul class="menu">
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="catalog.html">Каталог</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
            </nav>
        </header>

        <h2>Каталог</h2>
        <div class="catalog">
                
                <div class="catalog_item">
                    <a href="catalog/p_xiaomi_mi_smart_scale.html" target="_blank"><img src="images/xiaomi_smart_scale.jpg" alt="Весы Xiaomi Mi Smart Scale"></a><a href="catalog/p_xiaomi_mi_smart_scale.html" target="_blank">Весы Xiaomi Mi&nbsp;Smart Scale</a>
                </div>

                <div class="catalog_item">
                    <a href="catalog/p_xiaomi_mi_band_2.html" target="_blank"><img src="images/xiaomi_mi_band_2.jpg" alt="Фитнес-браслет Xiaomi Mi Band 2"></a>
                    <a href="catalog/p_xiaomi_mi_band_2.html" target="_blank">Фитнес-браслет Xiaomi Mi&nbsp;Band 2</a>
                </div>
                
                <div class="catalog_item">
                    <a href="catalog/p_xiaomi_mi_band_2.html" target="_blank"><img src="images/xiaomi_mi_band_2.jpg" alt="Фитнес-браслет Xiaomi Mi Band 2"></a>
                    <a href="catalog/p_xiaomi_mi_band_2.html" target="_blank">Фитнес-браслет Xiaomi Mi&nbsp;Band 2</a>
                </div>
                
                <div class="catalog_item">
                    <a href="catalog/p_xiaomi_mi_band_2.html" target="_blank"><img src="images/xiaomi_mi_band_2.jpg" alt="Фитнес-браслет Xiaomi Mi Band 2"></a>
                    <a href="catalog/p_xiaomi_mi_band_2.html" target="_blank">Фитнес-браслет Xiaomi Mi&nbsp;Band 2</a>
                </div>
                
                <div class="catalog_item">
                    <a href="catalog/p_xiaomi_mi_band_2.html" target="_blank"><img src="images/xiaomi_mi_band_2.jpg" alt="Фитнес-браслет Xiaomi Mi Band 2"></a>
                    <a href="catalog/p_xiaomi_mi_band_2.html" target="_blank">Фитнес-браслет Xiaomi Mi&nbsp;Band 2</a>
                </div>
                
                <div class="catalog_item">
                    <a href="catalog/p_xiaomi_mi_band_2.html" target="_blank"><img src="images/xiaomi_mi_band_2.jpg" alt="Фитнес-браслет Xiaomi Mi Band 2"></a>
                    <a href="catalog/p_xiaomi_mi_band_2.html" target="_blank">Фитнес-браслет Xiaomi Mi&nbsp;Band 2</a>
                </div>
                
                
                <p class="catalog_item"></p>

            
        </div>

        <div class="footer">
            <p class="footertext">&copy;&nbsp;Все права защищены</p>
        </div>
    </div>

</body>

</html>
