<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <header>
            <a href="index.html" class="logo"><img src="images/healthgadgets_logo.png" alt="healthgadgets.ru"></a>
            <nav>
                <ul class="menu">
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="catalog.html">Каталог</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
            </nav>
        </header>


        <h1>Магазин healthgadgets.ru</h1>
        <p>Заставить себя заниматься спортом и&nbsp;поддерживать здоровый образ жизни не&nbsp;так-то просто. Но&nbsp;с&nbsp;помощью высоких технологий можно победить собственную лень и&nbsp;сделать заботу о&nbsp;здоровье регулярной. Различные производители гаджетов предлагают множество устройств, созданных для фитнеса и&nbsp;спорта.</p>
        <p>У&nbsp;нас вы&nbsp;найдете огромное количество аксессуаров известнейших брендов. Это значит, что вам не&nbsp;нужно тратить лишнее время, ломая голову над тем, где&nbsp;бы купить пленку или чехол для вашего гаджета. Достаточно сделать заказ у&nbsp;нас. Если&nbsp;же при заказе возникли сомнения, или вы&nbsp;просто-напросто не&nbsp;можете определиться, наш курьер всегда может привезти несколько вариантов на&nbsp;выбор. Ассортимент нашего магазина постоянно пополняется.</p>
        <p>Мы&nbsp;не&nbsp;гонимся за&nbsp;сиюминутной выгодой, поэтому цены в&nbsp;нашем магазине весьма демократичны. Мы&nbsp;не&nbsp;завышаем&nbsp;их, пытаясь &laquo;навариться&raquo; на&nbsp;клиенте, а&nbsp;пытаемся дать разумный минимум. Мы&nbsp;не&nbsp;идем на&nbsp;различные уловки, которыми пользуются наши конкуренты, не&nbsp;предлагаем товары сомнительного качества, не&nbsp;навязываем дорогостоящие услуги и&nbsp;аксессуары. Цена, по&nbsp;которой мы&nbsp;продаем товары, позволяет предложить вам официальную и&nbsp;качественную продукцию, за&nbsp;которую мы&nbsp;ручаемся гарантией и&nbsp;своим именем.</p>
        <footer>
            <p class="footertext">&copy;&nbsp;Все права защищены</p>
        </footer>

    </div>

</body>

</html>
